body{
  background-color: DarkGray;
  padding-top: 2em;
}

nav {
  display: none;
  flex-direction: column;
  /* position: fixed;
  width: 100%;
  top: 0;
  transform: translateX(100vw); */
  transition: 0.5s;

}

nav.open {
  display: flex;
  transform: translateX(0);

}

#menuToggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 0em 0.3em;
  font-size:3em;
  color: black;
}
nav a {
  background-color: Crimson;
  color: CornSilk;
  padding: 1em 1em;
  margin: 0.2em;
  text-decoration: none;
  font-size: 1em;
  width: 4em;
  height: 1em;
  flex-grow: 1;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: DarkGoldenRod;
}




@media screen and (min-width: 420px) {
  body{
  padding: 0;
  }

  #menuToggler{
    display: none;

  }

  nav {
    display: flex;
    flex-direction: row;
    position: static;
    transform: translateX(0);

  }

}
